@font-face {
    font-family: "Pixel";
    src: url("/fonts/Pixel.ttf");
}

body {
    background-color: #398;
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(4, 117, 4);
}

.score {
    position: absolute;
    right: 5rem;
    top: 1rem;
    font-family: "Pixel";
    font-size: 3rem;
}

h1 {
    font-family: 'Pixel';
    font-size: 3rem;
}

.menu {
    margin: 0;
    background-color: rgb(44, 233, 233);
}

.title {
    position: absolute;
    font-size: 5rem;
    top: 1rem;
}

.play {
    margin-top: 5rem;
    width: 20rem;
    height: 20rem;
    background-color: #fff;
    display: inline;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-game {
    display: inherit;
    text-decoration: none;
}

.play-game img {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}

.play-game p {
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
}


@media only screen and (max-width: 768px) {
    #snake {
        width: 400px;
        height: 400px;
    }
}